.knob {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background-color: rgb(122, 122, 122);
  user-select: none;
}

.knobCenter {
  position: absolute;
  top: 25px;
  left: 25px;
  width: 44px;
  height: 44px;
  border-radius: 22px;
  transform: translate(-22px, -22px);
  background-color: rgb(43, 43, 43);
  user-select: none;
}

.knobMark {
  position: absolute;
  top: 0;
  left: 25px;
  width: 4px;
  height: 15px;
  transform: translate(-2px, 0);
  background-color: rgb(182, 182, 182);
  user-select: none;
}
