* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(84, 91, 97);
}

.knobs {
  display: grid;
  grid-template-columns: 150px 150px 150px 150px;
  margin: 10px;
}

.analyzerAndKeyboard {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.selectbox {
  margin-bottom: 10px;
}

.analyzer {
  margin-bottom: 10px;
}
